aside {
  text-align: center;
  padding: 2% 0;
}
aside > h2 {
  margin: 0;
  margin-bottom: 1rem;
}
input {
  font-family: inherit;
}
aside label {
  display: block;
  font-weight: bold;
}
aside input {
  text-align: center;
  margin: 0.5rem 0;
  border: 1px solid rgb(204, 204, 204);
  width: 15rem;
  padding: 0.5rem 1rem;
  font-size: large;
}
#playerNameError {
  margin-top: 0;
  color: red;
  display: none;
}
.error input {
  background-color: antiquewhite;
}
.error label {
  color: red;
}
